.react-datepicker {
  background: white;
  border: none;
  border-radius: 0;
  font-family: 'Barlow';
  border: 1px solid #5A9A97;
  font-size: 0.9rem;
  width: 100%; 
  height: 100%;
}

.react-datepicker__header {
  border: 1px solid #5A9A97;
  background: #5A9A97; 
  color: #fff;
  padding: 0.3rem 0; 
}

.react-datepicker-wrapper {
  padding: 0; 
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center; 
  background: white;
}

.react-datepicker-popper {
  padding-top: 0;
}

.react-datepicker-popper[data-placement^='bottom'] {
  padding-top: 0;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__current-month {
  background: #5A9A97;
  color: white;
  padding: 0.3rem 0;
  font-weight: 500;
}

.react-datepicker__navigation {
  top: 5px;
}

.react-datepicker__navigation-icon::before {
  border-color: #fff;
}

.react-datepicker__input-container {
  width: 100%;
  height: 100%;
}

.react-datepicker__input-container input {
  outline: none;
  background: none;
  width: 100%; 
  height: 100%; 
  padding: 0 32px 0 32px; 
  border: none; 
  font-size: inherit; 
  color: inherit;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background: #5A9A97;
  border-radius: 0;
}
.react-datepicker__day--selected:hover {
  background: #5A9A97;
}

.react-datepicker__day:hover {
  border-radius: 0;
}