@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/CassandraPersonalUseRegular-3BjG.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Hide swiper arrows */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

@layer base {
  body {
    @apply font-secondary text-primary;
  }
  input::placeholder {
    @apply text-primary;
  }

  /* Headings */
  .h2 {
    @apply font-primary text-[45px] mb-4 text-primary;
  }
  .h3 {
    @apply text-2xl font-primary font-semibold tracking-[1px] mb-2 text-primary;
  }

  /* Buttons */
  .btn {
    @apply text-[15px] tracking-[3px] font-tertiary uppercase text-white flex-1 transition-all px-7 flex justify-center items-center;
  }

  .btn-sm {
    @apply h-[48px];
  }
  .btn-lg {
    @apply h-[60px];
  }

  /* Brand button styles */
  .btn-primary {
    @apply bg-tertiary hover:bg-secondary hover:text-primary;
  }

  .btn-secondary {
    @apply bg-tertiary text-primary hover:bg-secondary hover:text-primary;
  }

  .btn-accent {
    @apply bg-accent hover:opacity-90;
  }

  .btn-white {
    @apply bg-white text-primary border border-secondary hover:bg-secondary hover:text-primary;
  }
}
